application/views/page/reports/elbex-franchise-faq.html
application/views/page/reports/elbex-profile-old.html
application/views/page/reports/elbex-faq.html
application/views/page/reports/elbex-profile-new.html
